# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv
venv
env
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Node
node_modules/
.next/
frontend/out/
frontend/build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Data
postgres-data/
clickhouse-data/
docker-data/
*.log

# Env
.env
.env.*
